*{
    margin: 0;
    padding: 0;
}

.container{    
    margin: auto;
}

.header_section{
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    height: 80vh;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.banner_content{
    position: relative;
    /* background-color: blueviolet;    */
    /* border: 2px solid red; */
}

.banner_img_1{
    max-width: 350px;
    height: auto;    
}

.banner_img_2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header>section>div>span {
    color: #000;
    background-color: chartreuse;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 900;
    

    position: absolute;
    left: 87%;
    top: 16%;
    transform: translate(-50%, -50%);

}

@media screen and (max-width:400px){
  .header_section{
    background-size: 200% 100%;

  }
   .banner_img_1{
    max-width: 180px;        
 }  

  .banner_img_2{
    max-width: 35%;
       
 } 
}
@media screen and (min-width:401px) and (max-width:578px) {
  .header_section{
    background-size: 150% 100%;

  }    
  .banner_img_1{
    max-width: 200px;        
 }  

  .banner_img_2{
    max-width: 35%;
       
 } 
}